<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="/css/mine.css">
		<title>FreeZ Place</title>
	</head>
	<body>
		<div id="mainbox">
			<div id="text1">HI! WELCOME</div>
			<div id="nav">
			 <ul>
			  <li>
				<a href='page2.html' target="_self">
				go to page2</a>
			  </li>
			  <li>
			  	<a href='page3.html' target="_self">
				go to page3</a>
			  </li>
			  <li>
			  	<a href='page4.html' target="_self">
				go to page4</a>
			  </li>
			  <li>
			  	<a href='page5.html' target="_self">
				go to page5</a>
			  </li>
			 </ul>
			</div>
			<div id="pictures">
				<ul>
				  <li>
				  	<img src="pic/i_agehanto.gif">
				  </li>
				  <li>
				  	<img src="pic/i_batafurii.gif">
				  </li>
				  <li>
				  	<img src="pic/i_fushigidane.gif">
				  </li>
				  <li>
				  	<img src="pic/i_hinoarashi.gif">
				  </li>
				</ul>
			</div>
		</div>
	</body>
</html>
